.model-card {
  width: 250px;
  transition: all ease 0.5s;
}

.model-card:hover {
  transform: scale(1.05);
}

.model-card img {
  width: 248px;
  height: 150px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
